<div class="container mt-5 mb-5">
    <img src="" width="100%">
    <h1 style="color: rgb(224, 66, 66);" class="text-center">About Us</h1>

    <p>
        We establishment our bakery in the year 2022, it was the idea of me who initiated after a long period and hardwork.
        A bakery is an establishment that produces and sells flour-based food baked in an oven such as bread, 
        cookies, cakes, donuts, pastries, and pies. Some retail bakeries are also categorized as cafés, 
        serving coffee and tea to customers who wish to consume the baked goods on the premises.
        we have many offers and benefits for our customers and clients.
    </p>
    <h1 style="color: rgb(224, 66, 66);" class="text-center">Our Branchs</h1>
        <div class="row">
            <div class="col-lg-4 mt-3">
                <div class="content">
                    <h3>Tambaram-Branch</h3>
                    <p>No 1 pmd nagar, <br> sakthi nagar <br> chennai-600045</p>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="content">
                    <h3>Chrompet-Branch</h3>
                    <p>No 45 diwas nagar, <br> kollaipuram <br> chennai-600075</p>
                    </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="content">
                    <h3>Adayar-Branch</h3>
                    <p>No 23 abd nagar, <br> ranga street <br> chennai-600065</p>
        </div>
    </div>
</div>